<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="utf-8">
        <body>
            <h1>TESTANDO API TEST</h1>
            <script>
                var n1 = prompt("Digite uma frase.")
                n1 = parseInt(n1)
            </script>
        </body>
        <!--<link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <div class="principal">
            <header class="hero">
                <nav>
                    <ul>
                        <li><a href="#">INÍCIO</a></li>
                        <li><a href="#">CONTATO</a></li>
                        <li><a href="#">PROJETO</a></li>
                    </ul>
                </nav>
                <div class="hero-content">
                    <h1>TESTANDO API</h1>
                </div>
            </header>

        </div>
    </body>-->
</html>